:root {
    --background-color: #10bffffb;
    --background2-color: #1c81f4;
    --border-rad: 7px;
}

.grape-nuts-regular {
  font-family: "Grape Nuts", cursive;
  font-weight: 400;
  font-style: normal;
}

#formulaire, #meteo {
    background-color: var(--background-color); 
    border-radius: var(--border-rad);
    border: 3px solid #000;
    margin: 100px 450px;
    padding: 0 70px;
    box-sizing: border-box;
    font-family: 'Caveat', sans-serif;
}

h3, #location {
    color: #000;
}
h3 {
    padding-top: 50px;
}
p{
    color: #fff;
    text-align: center;
}
#location {
    border-radius: var(--border-rad);
    border: 3px solid #000;
    margin-top: 10px; 
    margin-bottom: 40px;
    padding: 15px 200px 15px 15px;
    text-align: left;
    width: 35%;
}

#btn-submit {
    background-color: var(--background2-color); 
    color: #fff;
    border-radius: var(--border-rad);
    border: 2px solid #fff;
    padding: 15px 55px;
    margin-top: 5px;
    margin-bottom: 100px;
    box-sizing: border-box;
}

#meteo {
   display: none;
}

#image {
    margin: 40px 60px;
    align-items: center;
}

#lieu {
    margin: 40px 0 20px 0;
}

#lieu>p {
    margin: 30px 0;
}

#stats-container {
    display: flex; 
    align-items: center;  
    gap: 10px;
}

#temperature, #humidity {
    background-color: var(--background2-color); 
    color: #fff;
    border-radius: var(--border-rad);
    border: 2px solid #fff;
    padding: 8px 40px;
    box-sizing: border-box;
}