body {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 600px;
    margin: auto;
  }

  #preparation {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color:rgb(240, 245, 235);
  }

  #result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color:rgb(236, 246, 251);
  }

  .coffee {
    margin-bottom: 10px;
  }